
input[type="text"] {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 24px;
  direction: rtl;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1862b1;
}


.canvas{
  border : "none";
  background-color : white;
  box-shadow: 15px 13px 19px 7px rgba(0,0,0,0.49);
  -webkit-box-shadow: 15px 13px 19px 7px rgba(0,0,0,0.49);
  -moz-box-shadow: 15px 13px 19px 7px rgba(0,0,0,0.49);
  /* overflow: hidden; */
  touch-action: none;
  
}
option{
  font-size: 20px;
  padding: 5px;
  text-transform: capitalize;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.buttons button{
  padding: 5px 15px;
  background-color: rgb(24, 56, 238);
  color: white;
  font-weight: 500;
  outline: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  font-size: 20px;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

.image-gallery img {
  width: 10%; /* Adjust the width as needed */
  /* height: 10%; */
  margin: 5px; /* Add margin between images */
}
.selectOptions{
  margin: 1.2vw;
}
/* @media only screen and (max-width: 768px) {
  .canvas{
    width: 350px;
    height: 500px;
  }
  } */
  /**********input******/

  .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 250px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }